{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_users_list'|trans }}
{% endblock %}

{% block body %}

    <div style="display: flex; width: 100%">
        <h1>{{ 'title_users_list'|trans }}</h1>
        <div style="flex: 2"></div>
        <button class="btn btn-primary" style="flex: 1;margin:0.5%;"><a style="color: white;" href="{{ url('wallet_index') }}">{{ 'label_wallet'|trans }}</a></button>
        <button class="btn btn-primary" style="flex: 1;margin:0.5%;"><a style="color: white;" href="{{ url('label_index') }}">{{ 'label_labels'|trans }}</a></button>
        <button class="btn btn-primary" style="flex: 1;margin:0.5%;"><a style="color: white;" href="{{ url('user_show') }}">{{ 'user_details'|trans }}</a></button>
        <button class="btn btn-primary" style="flex: 0.7;margin:0.5%;"><a style="color: white;" href="{{ url('app_logout') }}">{{ 'label_logout'|trans }}</a></button>
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_email'|trans }}</th>
                <th>{{ 'label_roles'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                        {{ role|trans }}
                        {% endfor %}
                    </td>
                    <td>
                            <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action_edit'|trans }}">
                                {{ 'action_edit'|trans }}
                            </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}