{% extends 'base.html.twig' %}

{% block title %}{{ 'label_register'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label_register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
{#        {{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="btn btn-primary"><a style="color:white;" href="{{ url('wallet_index') }}" title="{{ 'action_register'|trans }}">
                {{ 'action_register'|trans }}
            </a></button>

    {{ form_end(registrationForm) }}
{% endblock %}
